Source: cm4io-fan-dkms
Maintainer: Andrew Powers-Holmes <andrew@omnom.net>
Build-Depends: debhelper (>= 9), dkms

Package: cm4io-fan-dkms
Architecture: all
Depends: ${misc:Depends}
Description: DKMS source for the Pi CM4 IO board fan controller
